body {
  box-sizing: border-box;
  font-size: 18px;
  margin: 0;
  color: white;
  font-family: 'Roboto', sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-around;
  background: #3c3a39;
}

header h2 {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

a {
  text-decoration: none;
  margin-left: 2%;
}

.menuImg {
  display: flex;
  margin-left: 60%;
  align-items: center;
}

.menu_items {
  display: none;
}

.menu {
  width: 35px;
}

#headline {
  background: #1c1a19;
  padding-left: 10px;
  position: relative;
  background-image: url('./images/illustration.png');
  background-repeat: no-repeat;
  background-position: bottom -2em right 0;
  padding-bottom: 18vh;
}

.headlines {
  padding-top: 20vh;
}

.headlines h1 {
  margin: 0;
  padding: 10px;
  font-weight: 400;
  color: #ff6b00;
  font-size: 40px;
  font-family: 'Crete Round', sans-serif;
}

.headlines span {
  font-size: 24px;
  margin: 0;
  font-weight: 700;
  color: #fff5e1;
}

.brand p {
  margin: 0;
  padding: 0 10px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

.social-media ul {
  display: flex;
  list-style-type: none;
  padding: 5px;
}

.categories-list li {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 3rem;
  color: #fff;
}

.social-media ul li {
  padding: 5px;
}

#recentWorks {
  display: grid;
  height: auto;
  grid-template-columns: 100%;
}

#recentWorks h2 {
  color: #1c1a19;
  font-weight: 400;
  font-size: 36px;
  border-bottom: 1px solid #212121;
  align-items: center;
  margin-top: 2em;
  padding: 1em;
}

.imgHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2vh;
}

.imgHeader img {
  width: 340px;
}

#seeProjects {
  position: relative;
  height: 100%;
}

#works h3 {
  color: #091e42;
  font-size: 29px;
  font-weight: 400;
  font-family: 'Crete Round', sans-serif;
  margin: 0;
}

.introInfo {
  color: #091e42;
  font-size: 15px;
}

#works {
  margin: 0 11vw;
}

#works ul {
  display: flex;
  padding-left: 0;
}

#works ul li {
  border: 1px solid #8993a4;
  background: #fff;
  padding: 10px 12px;
  color: #091e42;
  margin: 3px;
  list-style-type: none;
}

#works button {
  display: flex;
  background: #ff6b00;
  color: #fff;
  align-items: center;
  padding: 12px;
  justify-content: center;
  width: 110px;
  margin-top: 3px;
  border: none;
  cursor: pointer;
}

#cardWork button {
  width: 100%;
  position: absolute;
  background-color: #ff6b00;
  padding: 15px 0;
  text-align: center;
  margin-top: 2.5vh;
  font-family: 'Inter', sans-serif;
  color: #fff;
  border: none;
  bottom: 0;
  cursor: pointer;
}

#works button:hover {
  background-color: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.prjectDescription {
  padding-top: 11vh;
  margin-left: 7px;
}

.bg {
  background-image: url('./images/maskGroup.png');
  position: relative;
  width: 327px;
  height: 356px;

  /* top: 3em;
  left: 3em; */
}

#cardWork {
  position: relative;
  margin-bottom: 2vh;
  left: 2em;
  top: 2em;
}

#cardWork h3 {
  font-size: 22px;
  font-weight: 400;
}

#cardWork p {
  font-size: 15px;
  margin-right: 50px;
}

#cardWork ul {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
}

#cardWork ul li {
  display: flex;
  background-color: #6b6b6b;
  padding: 10px 12px;
  justify-content: center;
  align-items: center;
  margin: 5px;
  list-style-type: none;
}

#cardWork button:hover {
  background-color: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.about-section {
  background-color: rgba(0, 0, 0, 0.9);
  font-family: 'Inter', sans-serif;
  margin-top: 25vh;
  position: relative;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 10rem;
  margin: 0 2em;
  border-bottom: 1px solid #fff;
}

.about-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 8vh;
}

.about-header {
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  font-size: 3.5rem;
  margin-bottom: 0;
  color: #ff6b00;
}

.about-description {
  font-weight: 400;
  font-size: 1.2rem;
  color: #f4f5f7;
}

.about-img {
  background-image: url('./images/illustration-about-me-mobile.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 200px;
  width: 125px;
  position: absolute;
  top: 21.5%;
  right: 0;
}

.about-categories {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categories-header-container {
  display: flex;
  align-items: center;
  padding: 0.6em 1em 0 1em;
  margin: 0;
  gap: 1em;
}

.categories-header {
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  color: #fff;
}

.categories-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1.2rem;
  margin: 0;
}

.resume-btn {
  font-family: 'Inter', sans-serif;
  background: #ff6b00;
  text-decoration: none;
  padding: 0.8rem;
  margin-top: 1.5rem;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  letter-spacing: 0.03em;
  color: #fff;
  transition: all 0.7s;
}

.resume-btn:hover {
  background-color: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

#contact-me h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #172b4d;
  margin: 120px 24px 58px 24px;
}

#contact-form ul {
  border: none;
  padding: 0 24px;
}

#contact-form ul li {
  text-align: center;
  margin-bottom: 24px;
}

input,
textarea {
  height: 40px;
  border: none;
  border-bottom: 1px solid #dbd8d7;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  width: 100%;
  outline: 0;
}

textarea {
  color: #3c3a39;
  min-height: 120px;
  background: #fbf8f7;
}

#contact-me button {
  width: 40%;
  background-color: #ff6b00;
  text-align: center;
  font-family: 'Inter', sans-serif;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 124px;
  font-weight: 700;
  font-size: 17px;
  height: 48px;
}

ul.footer-list {
  display: flex;
  justify-content: center;
  padding: 0;
}

.footer-li {
  margin: 0 11px;
}
