body {
  box-sizing: border-box;
  font-size: 18px;
  margin: 0;
  color: white;
  font-family: 'Roboto', sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-around;
  background: #3c3a39;
}

header a h2 {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  flex-wrap: nowrap;
}

a {
  text-decoration: none;
  margin-left: 2%;
  margin-top: 8px;
}

.menuImg {
  display: flex;
  margin-left: 60%;
  align-items: center;
}

.menu_items {
  display: none;
}

.menu {
  width: 35px;
}

#headline {
  background: #1c1a19;
  padding-left: 10px;
  position: relative;
  background-image: url('./images/illustration.png');
  background-repeat: no-repeat;
  background-position: bottom -2em right 0;
  padding-bottom: 18%;
}

.headlines {
  padding-top: 10%;
}

.headlines h1 {
  margin: 0;
  padding: 10px;
  font-weight: 400;
  color: #ff6b00;
  font-size: 40px;
  font-family: 'Crete Round', sans-serif;
}

.headlines span {
  font-size: 24px;
  margin: 0;
  font-weight: 700;
  color: #fff5e1;
}

.brand p {
  margin: 0;
  margin-right: 15px;
  padding: 0 10px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  line-height: 20px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.social-media ul {
  display: flex;
  list-style-type: none;
  padding: 5px;
}

.categories-list li {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 3rem;
  color: #fff;
}

.social-media ul li {
  padding: 5px;
}

#recentWorks {
  display: grid;
  height: auto;
  grid-template-columns: 100%;
}

#recentWorks h2 {
  color: #091e42;
  font-weight: 400;
  font-size: 36px;
  border-bottom: 1px solid #212121;
  align-items: center;
  margin: 2em 0.7em 1em 0.7em;
  padding: 1em;
  font-family: 'Crete Round', sans-serif;
  width: 315px;
  height: 52px;
}

hr {
  display: none;
}

.recent-work-image-and-info {
  margin: 0 25px;
}

.recent-work-image-and-info img {
  height: 32%;
}

#seeProjects {
  position: relative;
}

#works h3 {
  color: #091e42;
  font-size: 29px;
  font-weight: 400;
  font-family: 'Crete Round', sans-serif;
  margin: 0;
}

.introInfo {
  color: #091e42;
  font-size: 15px;
}

#works ul {
  display: flex;
  padding-left: 0;
}

#works ul li {
  border: 1px solid #8993a4;
  background: #fff;
  padding: 10px 12px;
  color: #091e42;
  margin: 3px;
  list-style-type: none;
}

#works button {
  display: flex;
  background: #ff6b00;
  color: #fff;
  align-items: center;
  padding: 12px;
  justify-content: center;
  width: 110px;
  margin-top: 3px;
  border: none;
  cursor: pointer;
}

#cardWork button {
  position: relative;
  top: 25%;
  background-color: #ff6b00;
  padding: 16px 0;
  text-align: center;
  font-family: 'Inter', sans-serif;
  color: #fff;
  border: none;
  bottom: 0;
  cursor: pointer;
  width: 100%;
}

#contact-me button {
  width: 40%;
  background-color: #ff6b00;
  text-align: center;
  font-family: 'Inter', sans-serif;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 124px;
  font-weight: 700;
  font-size: 17px;
  height: 48px;
}

#contact-me button {
  width: 40%;
  background-color: #ff6b00;
  text-align: center;
  font-family: 'Inter', sans-serif;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 124px;
  font-weight: 700;
  font-size: 17px;
  height: 48px;
}

#works button:hover {
  background-color: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.prjectDescription {
  padding-top: 11%;
  margin-left: 7px;
}

<<<<<<< HEAD
.bg {
  background-image: url('./images/maskGroup.png');
  position: relative;
  width: 327px;
  height: 356px;
}

=======
>>>>>>> 780a60997b30bca9d3605c6fc9955e054c7fa54a
#cardWork {
  margin: 5% 1.5%;
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url('./images/maskPlaceholder-one.png');
  background-size: cover;
  height: 400px;
}

#cardWork h3 {
  font-size: 22px;
  font-weight: 400;
}

#cardWork p {
  font-size: 15px;
  margin-right: 50px;
}

#cardWork ul {
  position: relative;
  top: 10%;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
}

#cardWork ul li {
  display: flex;
  background-color: #6b6b6b;
  padding: 10px 12px;
  justify-content: center;
  align-items: center;
  margin: 5px;
  list-style-type: none;
}

#cardWork button:hover {
  background-color: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.about-section {
  background-color: rgba(0, 0, 0, 0.9);
  font-family: 'Inter', sans-serif;
  margin-top: 15%;
  position: relative;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 10rem;
  margin: 0 2em;
  border-bottom: 1px solid #fff;
}

.about-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 8%;
}

.about-header {
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  font-size: 3.5rem;
  margin-bottom: 0;
  color: #ff6b00;
}

.about-description {
  font-weight: 400;
  font-size: 1.2rem;
  color: #f4f5f7;
}

.about-img {
  background-image: url('./images/illustration-about-me-mobile.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 200px;
  width: 125px;
  position: absolute;
  top: 21.5%;
  right: 0;
}

.about-categories {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categories-header-container {
  display: flex;
  align-items: center;
  padding: 0.6em 1em 0 1em;
  margin: 0;
  gap: 1em;
}

.categories-header {
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  color: #fff;
}

.categories-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1.2rem;
  margin: 0;
}

.resume-btn {
  font-family: 'Inter', sans-serif;
  background: #ff6b00;
  text-decoration: none;
  padding: 0.8rem;
  margin-top: 1.5rem;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  letter-spacing: 0.03em;
  color: #fff;
  transition: all 0.7s;
}

.resume-btn:hover {
  background-color: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

#contact-me h2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #172b4d;
  margin: 120px 24px 58px 24px;
}

#contact-form ul {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0 24px;
}

#contact-form ul li {
  text-align: center;
  margin-bottom: 24px;
}

input,
textarea {
  height: 40px;
  border: none;
  border-bottom: 1px solid #dbd8d7;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  width: 100%;
  outline: 0;
}

textarea {
  color: #3c3a39;
  min-height: 120px;
  background: #fbf8f7;
  padding-top: 10px;
}

<<<<<<< HEAD
=======
#contact-me button:hover {
  background-color: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

#contact-me button:active {
  color: #f4f1f0;
  background: #e05304;
}

>>>>>>> 780a60997b30bca9d3605c6fc9955e054c7fa54a
ul.footer-list {
  display: flex;
  justify-content: center;
  padding: 0;
}

.footer-li {
  margin: 0 11px;
}

@media screen and (min-width: 768px) {
  .menu_items {
    display: flex;
    font-family: 'Inter', sans-serif;
  }

  nav ul li {
    list-style-type: none;
  }

  nav ul li:nth-child(1) {
    display: none;
  }

  nav ul li span {
    display: none;
  }

  nav ul li a {
    margin: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    width: 45px;
    height: 20px;
    color: #fff;
  }

  .menuImg {
    display: none;
  }

  header {
    display: flex;
    justify-content: space-between;
    padding: 0 7% 0 7%;
  }

  #headline {
    display: flex;
    justify-content: start;
    position: relative;
    background-image: url('./images/Illustration-header.svg');
    background-position: top 0 right 0;
    background-size: contain;
    height: 20%;
  }

  .headlines {
    width: 566px;
    padding-top: 10% !important;
  }

  .headlines h1 {
    font-size: 72px;
  }

  .brand p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    max-width: 566px;
    line-height: 32px;
  }

  #headline:nth-child(odd) {
    flex-direction: row-reverse;
  }

  .headline-container {
    margin: 7em 0 0 3em;
  }

  .headlines span {
    font-size: 32px;
    font-weight: 500;
  }

  .social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1%;
    position: relative;
    top: 80px;
  }

  .social-media ul {
    display: flex;
    flex-direction: column;
  }

  .recent-header-container {
    display: flex;
    margin-top: 0;
  }

  .recent-work-image-and-info {
    display: flex;
    margin-bottom: 10%;
    padding-left: 1.2em;
  }

  #recentWorks {
    display: grid;
    height: auto;
    grid-template-columns: 100%;
    margin: 0 5%;
  }

  .contact-info h2 {
    text-align: start !important;
    padding-bottom: 0;
    margin-top: 30px !important;
  }

  #recentWorks h2 {
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    min-width: 315px;
    height: 52px;
    border: none;
  }

  .recent-work-image-and-info img {
    height: 100%;
  }

  footer hr {
    display: flex;
    background: #dfe1e6;
    height: 1px;
    margin-bottom: 2%;
  }

  #recentWorks hr {
    display: flex;
    flex-direction: column;
    border: 1px solid #212121;
    height: 0;
    align-self: center;
    position: relative;
    right: 40px;
    top: 20px;
    width: calc(100% - 370px);
  }

  #seeProjects {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
  }

  #cardWork .recent-work-project-btn {
    visibility: hidden;
  }

  #cardWork:hover .recent-work-project-btn {
    visibility: visible;
  }

  #cardWork:hover > * :not(.recent-work-project-btn) {
    opacity: 0;
  }

  #cardWork:hover {
    background: url('./images/maskPlaceholder-one.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .introInfo h3 {
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    width: 448px;
    height: 48px;
  }

  #works {
    margin-left: 20px;
  }

  .introInfo p {
    width: 448px;
    height: 140px;
    font-size: 20px;
    line-height: 28px;
  }

  .about-container {
    width: 566px;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    margin-left: 5%;
    border-bottom: none;
  }

  .about-img {
    background-image: url('./images/illustration-about-me.svg');
    background-repeat: no-repeat;
    height: 352px;
    width: 100%;
    position: absolute;
    top: 10%;
    left: 30%;
  }

  .about-line {
    display: flex;
    border: 1px solid #fff;
    margin: 0 10% 0 10%;
  }

  .about-header {
    margin-bottom: 15px;
  }

  .about-description {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
  }

  .about-categories {
    display: flex;
    justify-content: center;
  }

  .categories {
    margin-right: 10%;
  }

  #contact-me {
    display: flex;
    margin: 10% 5%;
  }

  .contact-info {
    width: 500px;
    height: 256px;
    font-size: 40px;
    line-height: 52px;
  }

  form {
    width: 65%;
    height: 330px;
  }

  form ul li:last-child {
    display: flex;
  }

  textarea {
    min-height: 60px !important;
  }

  #contact-me button {
    width: 30%;
    margin-bottom: 0 !important;
  }

  footer {
    margin-top: 10%;
  }
}
